body{
	background-color:pink;
	font:normal 16px Arial,Helvetica,sans-serif;
	line-height:2em;
	margin:10px;/* Set text color to black*/
}
body li{
	padding-bottom:6px;
	list-style:square;
}

a:hover{
	color:red;
}
a:active{
	color:green;
}
a:visited{
	color:purple;
}

.heading h1{
	text-align:center;
}
.container{
	width:80%;
	margin:auto;	
}
.container ul{
	color:seagreen;
	opacity:1.0;
}

.box-1{
	background-color:white;
	border-left:7px blue solid;
	border-width:5px;
	border-radius:15px;
	padding:20px;
	
}

.box-1 h2{
	
	
	font-family:Tahoma;
	text-decoration: underline;
	word-spacing:0.23em;
}
.chimg img{
	width:99%;
	height:70%;
	padding:auto;
}
.content-table{
	background-image:url("car.jpg")  ;
	background-repeat:repeat-x;
	background-position:center;
	background-attachment:fixed;
	border-collapse:collapse;  /*color image repeat attachment position order for shorthand property*/
	margin:25px;
	font-size:0.9em;
	min-width:400px;
	border-radius:5px;
	overflow:hidden;
	padding-left:10px;
}
.content-table thead tr{
    background-color:blue;
	text-align:left;
	font-weight:bold;
	
	}
.content-table th{
	padding:12px 15px;
	background-color:slateblue;
}
.content-table table tr td{
	border:1px solid blue;
}